@page "/uren"

@using WebUI.Dtos
@using Application.Common.Viewmodels
@using WegisterUI.Services
@inject WorkHourService _workHourService
@inject NavigationManager _uriHelper

<AuthorizeView>
    <Authorized>
        <h1>Urenoverzicht</h1>

        <p>Het onderstaande overzicht is een lijst met de geregistreerde uren</p>
        <div class="container-overview">
            <div class="container-filter">
                @if (_filters != null)
                {
                    @foreach (var filter in _filters)
                    {
                        <FilterDropdown FilterOption=@filter FilterValues="@filter.Values" Placeholder=@filter.PlaceholderValue OnItemSelected="OnFilterSelected"></FilterDropdown>
                    }
                }
            </div>
            <div class="container-action">
                <button class="btn btn-primary" @onclick=@Navigate>Uren registreren</button>
            </div>
        </div>

        @{
            var totaalUren = _workHours?.TotalAmountOfWorkHoursInMinutes / 60;
            var overgeblevenMinuten = _workHours?.TotalAmountOfWorkHoursInMinutes % 60;
        }

        <div class="container-details">
            Totaalgewerkt: @totaalUren:@overgeblevenMinuten
        </div>

        @if (_workHours == null)
        {
            <p><em>Er zijn geen uren geregistreerd</em></p>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Klant</th>
                        <th>Datum</th>
                        <th>Starttijd</th>
                        <th>Eindtijd</th>
                        <th>Pauze in min.</th>
                        <th>Totaal uren</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gewerktuur in _workHours.WorkHours)
                    {
                        { _dataTarget += gewerktuur.Id; }

                        var totaalUrenPerDag = gewerktuur.TotalWorkHoursInMinutes / 60;
                        var overgeblevenMinutenPerDag = gewerktuur.TotalWorkHoursInMinutes % 60;

                        <tr>
                            <td data-toggle="collapse" data-target="#@_dataTarget" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">@gewerktuur.CustomerName</td>
                            <td data-toggle="collapse" data-target="#@_dataTarget" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">@gewerktuur.Date</td>
                            <td data-toggle="collapse" data-target="#@_dataTarget" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">@gewerktuur.StartTime</td>
                            <td data-toggle="collapse" data-target="#@_dataTarget" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">@gewerktuur.EndTime</td>
                            <td data-toggle="collapse" data-target="#@_dataTarget" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">@gewerktuur.RecreationInMinutes</td>
                            <td data-toggle="collapse" data-target="#@_dataTarget" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">@totaalUrenPerDag:@overgeblevenMinutenPerDag</td>
                            <td style="padding: 0; vertical-align: middle;">
                                @*<span class="fas fa-trash red text-18 pointer hover" aria-hidden="true" @onclick='() => Delete(gewerktuur.Id)'></span>*@
                            </td>
                        </tr>
                        <tr class="collapse" id="@_dataTarget" style="background-color: rgb(255, 255, 255);">
                            <td colspan="6">
                                <div class="card-body">
                                    @gewerktuur.Description
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <TablePagination></TablePagination>
        }
    </Authorized>
    <NotAuthorized>
        <p>Je bent niet geauthorizeerd deze pagina te bekijken...</p>
        <p><a href="identity/account/login">Klik hier</a> om in te loggen of neem contact op met beheerder.</p>
    </NotAuthorized>
</AuthorizeView>